<div class="ticketsContainer">   
    <div *ngFor="let reservation of userReservations">
        <div *ngFor="let seat of reservation.seats" class="cardWrap">
        <div class="card cardLeft">
            <h1>{{ getCinemaName(reservation.cinemaId) }}</h1>

            <div class="title">
            <h2>{{ getMovieName(reservation.movieId) }}</h2>
            <span>movie</span>
            </div>

            <div class="seatTicket">
            <h2>{{ seat }}</h2>
            <span>seat</span>
            </div>

            <div class="time">
            <h2>{{ getProjectionTime(reservation.projectionId) }}</h2>
            <span>time</span>
            </div>
        </div>

        <div class="card cardRight">
            <div class="eye"></div>
            <div class="number">
            <h3>{{ seat }}</h3>
            <span>seat</span>
            </div>
            <div class="barcode"></div>
        </div>
        </div>
    </div>
</div> 