.seat-row {
  display: inline-flex;       
  justify-content: center;   
  align-items: center;
  margin-bottom: 8px;
  padding: 0;
  box-sizing: border-box;
}

.seat-group {
  display: grid;
  grid-auto-flow: column;
  gap: 6px;
  padding: 0;   
  margin: 0;       
  box-sizing: border-box;
  max-content: max-content; 
}

.seat-grid-wrapper {
  margin: 30px auto 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
}

.seat-group.left {
  justify-content: end; 
}

.seat-group.right {
  justify-content: start;
}

.aisle {
  width: 30px; 
  height: 40px;
  border-radius: 8px;
}

.seat {
  width: 30px;
  height: 40px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.seat:hover:not(.empty) {
  background-color: #555;
}

.seat.empty {
  background-color: transparent;
  cursor: default;
}

.screen-arc {
  width: 400px;
  height: 50px;
  border-top: 4px solid #e94f20;
  border-radius: 800px / 80px;
  position: relative;

  background: transparent;
  box-shadow: none; 
  filter: drop-shadow(0 0 6px #e94f20);
}

.screen-wrapper {
  width: 400px;
  margin: 0 auto 30px auto;
  text-align: center; 
}

.screen-label {
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #908f8f;
  font-size: 14px;
  margin-top: -30px;
}

.date-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.arrow-btn {
  font-size: 24px;
  padding: 5px 12px;
  cursor: pointer;
  background: none;
  border: none;
  color: #333;
  transition: color 0.2s;
}

.arrow-btn:hover {
  color: #000;
}

.days-row {
  display: flex;
  gap: 12px;
}

.day {
  cursor: pointer;
  padding: 8px 0;
  width: 50px;  
  border-radius: 15px;
  text-align: center;
  user-select: none;
  transition: background-color 0.3s, color 0.3s; 
  color: #333; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}


.day.selected {
  background-color: #333;
  color: white;
  font-weight: bold;
  border-color: #333;
}

.day-name {
  font-size: 0.85rem;
  font-weight: 600;
}

.day-number {
  font-size: 1.1rem;
  margin-top: 2px;
}
