<div *ngIf="!isLoading && !errorMsg">
  <!-- Show only if movieInfo is available -->
   <div class="movie-info-container" [ngStyle]="{'background-image': 'url(' + backdropUrl + ')', 'background-position': 'center calc(10% - 20px)'}">>
    <div class="movie-info-content">
      <h1 class="movie-title">{{ movieInfo?.name }}</h1>
      
      <div class="movie-details-row">
        <p><strong>Year:</strong> {{ movieInfo?.year }}</p>
        <p><strong>Duration:</strong> {{ movieInfo?.duration }} mins</p>
        <p><strong>Rating:</strong> {{ movieInfo?.rating }}</p>
      </div>

      <p class="movie-description">{{ movieInfo?.description }}</p>
    </div>
  </div>
  <div class="reservation-wrapper">    
    <div class="controls-row">
      <!-- Date picker -->
      <div class="date-selector">
        <button (click)="previousWeek()" class="arrow-btn">&lt;</button>
        <div class="days-row">
          <div
            *ngFor="let day of daysInWeek"
            class="day"
            [class.selected]="day.toDateString() === selectedDate?.toDateString()"
            (click)="selectDate(day)"
          >
            <div class="day-name">{{ day | date:'EEE' }}</div>
            <div class="day-number">{{ day | date:'d' }}</div>
          </div>
        </div>
        <button (click)="nextWeek()" class="arrow-btn">&gt;</button>
      </div>

      <!-- Cinema selector -->
      <div class="form-group-cinema">
        <label for="cinemaSelect">Cinema</label>
        <div class="select-wrapper">
        <select id="cinemaSelect" [(ngModel)]="selectedCinemaId" (change)="onCinemaChange()">
          <option *ngFor="let cinema of cinemasWithProjections" [ngValue]="cinema.cinemaId">
            {{ cinema.cinemaName }}
          </option>
        </select>
        </div>
      </div>

      <!-- Projection selector -->
      <div class="form-group">
        <label for="projectionSelect">Time</label>
        <div class="select-wrapper">
        <select
          id="projectionSelect"
          [(ngModel)]="selectedProjectionId"
          (change)="onProjectionChange()"
          [disabled]="!filteredProjections.length"
        >
          <option *ngFor="let proj of filteredProjections" [ngValue]="proj.id">
            {{ proj.time.substring(0,5) }}
          </option>
        </select>
        </div>
      </div>
    </div>
    <div class="seat-layout-wrapper" *ngIf="selectedCinema?.type == 'Indoor'">
      <div class="seat-layout-container">
        <!-- Legend and Seat Grid (LEFT) -->
        <div class="seat-main-content">
          <!-- SEAT LEGEND -->
          <div class="seat-legend">
            <div class="legend-item">
              <div class="seat example booked"></div>
              <span>Reserved</span>
            </div>
            <div class="legend-item">
              <div class="seat example selected"></div>
              <span>Selected</span>
            </div>
            <div class="legend-item">
              <div class="seat example"></div>
              <span>Free</span>
            </div>
          </div>

          <!-- SEAT GRID -->
          <div class="seat-grid-wrapper">
            <div class="screen-wrapper">
              <div class="screen-arc"></div>
              <div class="screen-label">SCREEN</div>
            </div>
            <div *ngFor="let row of rows" class="seat-row">
              <div class="seat-group left">
                <div
                  *ngFor="let seat of row.left"
                  class="seat"
                  [class.empty]="seat === null"
                  [class.selected]="seat && selectedSeats.has(seat.number)"
                  [class.booked]="seat?.booked"
                  (click)="seat && !seat.booked && toggleSeatSelection(seat.number)">
                </div>
              </div>

              <div class="aisle"></div>

              <div class="seat-group right">
                <div
                  *ngFor="let seat of row.right"
                  class="seat"
                  [class.empty]="seat === null"
                  [class.selected]="seat && selectedSeats.has(seat.number)"
                  [class.booked]="seat?.booked"
                  (click)="seat && !seat.booked && toggleSeatSelection(seat.number)">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Seat Summary Panel (RIGHT) -->
        <div class="seat-summary">
          <!-- Part 1: Reservation Summary -->
          <h3>Your selected seats</h3>
          <p class="seats-label">{{ getReservedSeatCount() }} seats</p>
          
          <ul class="seat-list">
            <li *ngFor="let seat of selectedSeats">
              {{ seat }}
            </li>
          </ul>

          <hr />
          <p> </p>

          <!-- Part 2: Payment Details -->
          <div class="payment-summary">
            <h4>Payment Details</h4>
            <p>Tax (10%): ${{ getReservedSeatCount() * 20 * 0.1 }}</p>
            <p>Discount: $5</p> 
            <hr/>
            <p><strong>Total Price: ${{(getReservedSeatCount() * 20 * 1.1 - 5) | number : '1.2-2' }}</strong></p>

            <button 
              (click)="submitReservation()" 
              [disabled]="selectedSeats.size === 0">
              Reserve tickets
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Ticket Popup -->
    <div class="overlay" *ngIf="showTicketPopup"></div>
    <div class="popup" *ngIf="showTicketPopup">
      <h2 class="popup-header">Congratulations! Your tickets are reserved!</h2>

      <div *ngFor="let seat of reservedSeats" class="cardWrap">
        <div class="card cardLeft">
          <h1>{{ selectedCinema?.cinemaName }}</h1>

          <div class="title">
            <h2>{{ movieInfo?.name }}</h2>
            <span>movie</span>
          </div>

          <div class="seatTicket">
            <h2>{{ seat }}</h2>
            <span>seat</span>
          </div>

          <div class="time">
            <h2>{{ selectedProjection?.time }}</h2>
            <span>time</span>
          </div>
        </div>

        <div class="card cardRight">
          <div class="eye"></div>
          <div class="number">
            <h3>{{ seat }}</h3>
            <span>seat</span>
          </div>
          <div class="barcode"></div>
        </div>
      </div>

      <button (click)="closePopup()">View your reservations</button>
    </div>
    <app-outdoor-cinema *ngIf="selectedCinema?.type === 'Outdoor'" 
    [cinema]="selectedCinema"
    (reserve)="handleOutdoorReservation($event)"
    ></app-outdoor-cinema>
  </div>
</div>
