/* Full page wrapper */
.page-wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Left panel with background image */
.left-panel {
    width: 66.66%; /* Two-thirds of screen */
    background-image: url('https://your-image-url.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
}

/* Right panel (white) */
.right-panel {
  width: 40%;
  background: #24182B;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari support */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; 
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; 
    padding: 2rem;
    background-color: #24182B; 
    border-radius: 10px;
    margin-bottom: 2rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #fff;
    background-color: #24182B; 
    border-radius: 20px;
    font-size: 1rem;
    box-sizing: border-box;
    height: 40px;
    color: #fff;
}

input::placeholder {
    color: #fff;
    opacity: 0.7; /* optional: slightly transparent */
}

small {
    color: #d9534f;
    font-size: 0.85rem;
    margin-top: -0.5rem;
    display: block;
    margin-bottom: 1rem;
}

.forgot-password {
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
}

.forgot-password a {
    color: #fff; 
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 0.7rem; 
}

.button-group button {
    width: 30%;
    height: 40px;
    font-size: large; 
    display: flex;               
    justify-content: center;    
    align-items: center;         
    text-align: center;          
    padding: 0 0.75rem;          
}

button[type="submit"] {
  background: linear-gradient(135deg, #e64747, #A847C8);
    color: white;
    border: none;
    border-radius: 35px;
    cursor: pointer;
}

button[type="button"] {
    background-color: #24182B;
    border: 1px solid #e64747;
    color: #e64747;
    border-radius: 35px;
    cursor: pointer;
}

button:hover:not(:disabled) {
    opacity: 0.9;
}

h2 { font-family: 'Roboto Slab', serif;
  font-weight: 900; /* bold */
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
  
  /* gradient text */
  background: linear-gradient(90deg, #e64747, #A847C8); /* red to purple */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}