 <h2 class="section-label">My collections</h2>

<div class="collections-container">
  <div *ngIf="loading" class="loading-text">Loading collections...</div>
  <div *ngIf="error" class="error-text">{{ error }}</div>

  <div *ngIf="!loading && userCollections.length === 0" class="empty-text">
    You have no collections yet.
  </div>

  <div class="collections-grid" *ngIf="userCollections.length > 0">
    <div class="collection-card" *ngFor="let collection of userCollections" (click)="openCollectionContents(collection.id)">
      <div class="collection-header">
        <h3 (click)="openCollectionContents(collection.id)">{{ collection.name }}</h3>
        

        <!-- Ellipsis dropdown -->
        <div class="dropdown-container" (click)="toggleDropdown($event, collection.id)">
          <span class="ellipsis">⋯</span>
          <div class="dropdown-menu" *ngIf="dropdownOpenId === collection.id">
            <button (click)="deleteCollection(collection.id)">Delete</button>
          </div>
        </div>
      </div>

      <p class="collection-description">
        {{ collection.description }}
      </p>

      <div class="collection-footer">
        <span class="created-at">Created: {{ collection.createdAt | date:'mediumDate' }}</span>
        <span class="badge">
          {{
            collection.typeString === 'Licna' ? 'Personal' :
            collection.typeString === 'Urednicka' ? 'Editorial' :
            collection.typeString
          }}
        </span>
        <span class="save-count"><i class="fas fa-bookmark"></i> {{ collection.saveCount }}</span>
        
      </div>
    </div>

    <div class="collection-card add-card" (click)="openCreateCollectionModal()" style="cursor: pointer;">
      <div class="plus-icon">+</div>
    </div>
  </div>
</div>


<div class="modal-backdrop" *ngIf="showCreateModal" (click)="closeModal()"></div>
<div class="modal" *ngIf="showCreateModal">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3>Create Your New Collection</h3>
    <input type="text" [(ngModel)]="newCollection.name" placeholder="Collection Name" />
    <textarea [(ngModel)]="newCollection.description" placeholder="Description"></textarea>
    <button (click)="createCollection()">Create</button>
    <button class="cancel-btn" (click)="closeModal()">Cancel</button>
  </div>
</div>

