.app-layout {
  display: flex;
  height: 100vh; /* full viewport height */
  overflow: hidden;
}

app-sidebar {
  flex-shrink: 0; /* keep sidebar width fixed */
  width: 230px;   /* same as your sidebar width */
}

.main-content {
  flex-grow: 1;   
  overflow-y: auto; 
  width: calc(100% - 230px);
  background-color: #FFF; 
  border-radius: 0 10px;
}
