.app-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar takes fixed width */
app-sidebar {
  width: 230px;
  flex-shrink: 0;
  background-color: #222; /* example */
  color: white;  
}

/* Right side contains topbar and content */
.right-side {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

/* Top bar at the top of right side */
.topbar {
  position: absolute;
  display: flex;
  align-items: center; 
  height: 71px;
  gap: 10px;
  color: white;
  flex-shrink: 0;  
  z-index: 10;
  margin-left: 33.5%;
}

/* Search input */
.topbar-search {
  padding: 8px 12px;
  border-radius: 25px;
  border: none;
  width: 400px;
  height: 42%;
  font-size: 16px;
  /*background-color: #7b4178;*/
  background-color: transparent;
  color: #141116;
  border: 2px solid #141116;
}

.topbar-search::placeholder {
  color: #141116;
  opacity: 1;  
}

/* Dropdown */
.topbar-dropdown {
  padding: 8px 12px;
  border-radius: 25px;
  border: 2px solid #141116; 
  background-color: transparent;
  color: #141116;
  font-size: 16px;
  height: 46px;
  width: 110px;
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='black' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 25px;
  padding-right: 30px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.topbar-dropdown:hover {
  border-color: #141116;
  background-color: rgba(255, 255, 255, 0.1);
}

.topbar-dropdown:focus {
  outline: none;
  border-color: #141116;
  background-color: rgba(255, 255, 255, 0.15);
}

/* Try to style the options – browser-limited */
.topbar-dropdown option {
  background-color: #222;
  color: white;
}


/* Main content fills remaining space */
.main-content {
  flex-grow: 1; 
  overflow-y: auto; 
  scrollbar-width: none;  
  -ms-overflow-style: none;
}

.main-content::-webkit-scrollbar {
  display: none;                
}

.auth-background {
  background-image: url('/assets/BG.jpg');
  background-size: contain;
  background-position: start ;
  background-repeat: no-repeat;    
}
