body {
  margin: 0; 
  font-family: "Tahoma", sans-serif;
}

.sidebar {
  width: 230px;
  height: 100%;
  background-color: #141116;
  color: #f5f6fa;
  display: flex;
  flex-direction: column;
  padding: 10px 0; 
  overflow: hidden;
}

.sidebar-header {
  padding: 0px 10px;
  text-align: center;
  font-size: 0.9rem;
  background-color: #141116;
  color: #f5f6fa;
  font-family: "Tahoma", sans-serif;
}

.sidebar-logo {
  display: block;
  max-width: 150px;  /* adjust size as needed */
  margin: 10px auto; /* center the logo */
  height: auto;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 12px 0;
}

.sidebar-menu li {
  width: 88%;
  padding: 5px 12px;
  box-sizing: border-box;
}

.sidebar-menu li a {
  display: block;
  width: 100%;
  padding: 12px 14px;
  border-radius: 25px;
  color: #f5f6fa;
  text-decoration: none;
  font-size: large;
  transition: background-color 0.2s, color 0.2s;
  font-family: "Tahoma", sans-serif;
}

.sidebar-menu li a i {
  margin-right: 5px;
}

.sidebar-menu li a:hover{
  background-color: #b061ca  ;
  color: #F0EEF5;
}
.sidebar-menu li a.active {
  background-color: #A847C8   ;
  color: #F0EEF5;
}

/* === NEW: Logout styling === */
.sidebar-logout {
  margin-top: auto;
  margin-bottom: 8px;
  padding: 10px 0;
}
 

.sidebar-logout li {
  width: 90%;
  list-style: none;
  padding: 5px 12px;
}

.sidebar-logout li a {
  display: block;
  width: 88%;
  padding: 12px;
  border-radius: 25px;
  color: #f5f6fa;
  text-decoration: none;
  font-size: large;
  transition: background-color 0.2s, color 0.2s;
  font-family: "Tahoma", sans-serif;
}

.sidebar-logout li a i {
  margin-right: 5px;
}

.sidebar-logout li a:hover {
  background-color: #b061ca;
  color: #fff;
}
