<div class="sidebar">
  <div class="sidebar-header">
    <h2>Movie App</h2> <!-- This can be a logo or app name -->
  </div> 
  <ul class="sidebar-menu">
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <i class="fas fa-home" style="color: #FFF;"></i> Home
      </a>
    </li>
    <li>
      <a routerLink="/ticket-reservation" routerLinkActive="active">
        <i class="fa-solid fa-ticket" style="color: #FFF;"></i> Ticket Reservation
      </a>
    </li>
    <li>
      <a routerLink="/my-reservations" routerLinkActive="active">
        <i class="fas fa-ticket-alt" style="color: #FFF;"></i> My Reservations
      </a>
    </li>
  </ul>
  <!-- Bottom logout section -->
  <div class="sidebar-logout">
    <hr />
    <li>
      <a (click)="logout()">
        <i class="fas fa-sign-out-alt" style="color: #FFF;"></i> Logout
      </a>
    </li>
  </div>
</div>
