<div class="sidebar">
  <div class="sidebar-header">
    <img src="assets/logo.png" alt="App Logo" class="sidebar-logo" />
  </div>
  <ul class="sidebar-menu">
    <!--Guest-only--> 
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <i class="fas fa-home" style="color: #FFF;"></i> Home
      </a>
    </li>
    <li *ngIf="isGuest()">
      <a routerLink="/my-collections" routerLinkActive="active">
        <i class="fas fa-book" style="color: #FFF;"></i> My Collections
      </a>
    </li>  
    <li *ngIf="isEditor()">
      <a routerLink="/editors-collections" routerLinkActive="active">
        <i class="fa-solid fa-ticket" style="color: #FFF;"></i> My collections
      </a>
    </li>
    <li *ngIf="isGuest()">
      <a routerLink="/saved-collections" routerLinkActive="active">
        <i class="fas fa-flag" style="color: #FFF;"></i> Saved Collections
      </a>
    </li> 
    <li>
      <a routerLink="/explore-collections" routerLinkActive="active">
        <i class="fas fa-compass" style="color: #FFF;"></i> Explore Collections
      </a>
    </li>
    <li *ngIf="isGuest()">
      <a routerLink="/ticket-reservation" routerLinkActive="active">
        <i class="fa-solid fa-ticket" style="color: #FFF;"></i> Ticket Reservation
      </a>
    </li>
    <li *ngIf="isGuest()">
      <a routerLink="/my-reservations" routerLinkActive="active">
        <i class="fas fa-ticket-alt" style="color: #FFF;"></i> My Reservations
      </a>
    </li>
    <li>
      <a routerLink="/other-users" routerLinkActive="active">
        <i class="fas fa-users" style="color: #FFF;"></i> People
      </a>
    </li>
    <li>
      <a routerLink="/followers" routerLinkActive="active">
        <i class="fas fa-users" style="color: #FFF;"></i> Following
      </a>
    </li>
    <li *ngIf="isGuest()">
      <a routerLink="/statistics" routerLinkActive="active">
        <i class="fas fa-pie-chart" style="color: #FFF;"></i> Statistics
      </a>
    </li>
    <!--Admin-only--> 
    <li *ngIf="isAdmin()">
      <a routerLink="/admin-dashboard" routerLinkActive="active">
        <i class="fas fa-cogs" style="color: #FFF;"></i> Admin Dashboard
      </a>
    </li> 
  </ul>
  <!-- Bottom logout section -->
  <div class="sidebar-logout">
    <hr />
    <li>
      <a routerLink="/user-profile" routerLinkActive="active">
        <i class="fas fa-user" style="color: #FFF;"></i> Your profile
      </a>
    </li>
  </div>
</div>
