body {
  margin: 0;
  background-color: #1e1e2f;
  font-family: "Tahoma", sans-serif;
}

.sidebar {
  width: 230px;
  height: 100vh;
  background-color: #18283b;
  color: #f5f6fa;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}

.sidebar-header {
  padding: 1px 10px;
  text-align: center;
  font-size: 1rem;
  background-color: #18283b;
  color: #f5f6fa;
  font-family: "Tahoma", sans-serif;
}

.sidebar hr {
  margin: 0;
  border: none;
  border-top: 1px solid #2c3e50;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 12px 0;
}

.sidebar-menu li {
  width: 90%;
  padding: 5px 12px;  
  box-sizing: border-box;
}

.sidebar-menu li a {
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 7px;
  color: #f5f6fa;
  text-decoration: none;
  font-size: large;
  transition: background-color 0.2s, color 0.2s;
  font-family: "Tahoma", sans-serif;
}

.sidebar-menu li a i { 
  margin-right: 5px;
}

.sidebar-menu li a:hover,
.sidebar-menu li a.active {
  background-color: #6a798a;
  color: #fff;
}
