<h2 class="section-label">Explore collections</h2>

<div class="collections-container">
  <div *ngIf="loading" class="loading-text">Loading collections...</div>
  <div *ngIf="error" class="error-text">{{ error }}</div>

  <div *ngIf="!loading && collections.length === 0" class="empty-text">
    You have no collections yet.
  </div>

  <div class="collections-grid">
  <div class="collection-card" *ngFor="let collection of collections" (click)="openCollectionContents(collection.id)">
    <div class="collection-header">
      <h3>{{ collection.name }}</h3> 
      
      <button 
        *ngIf="collection.typeString === 'Urednicka' && userRole === 'moderator'"
        (click)="deleteCollection(collection.id); $event.stopPropagation()"
        class="delete-btn">
        <i class="fas fa-trash"></i>
      </button>
    </div>

    <div class="collection-description">
      {{ collection.description }}
    </div>

    <div class="collection-footer">
      <span class="created">
        <i class="fas fa-calendar-alt"></i>
        Created: {{ collection.createdAt | date: 'mediumDate' }}
      </span>
      <span class="badge">
          {{
            collection.typeString === 'Licna' ? 'Personal' :
            collection.typeString === 'Urednicka' ? 'Editorial' :
            collection.typeString
          }}
        </span>
      <span class="save-count">
        <i class="fas fa-bookmark"></i>
        {{ collection.saveCount }}
      </span>
    </div> 
  </div>
</div>

</div>