<div class="content">
  <div class="swiper movie-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let movieName  of movies">
        <div class="movie-card">
          <h3>{{ movieName }}</h3>
          <img [src]="backdropUrls[movieName]" [alt]="movieName" class="movie-backdrop">
          <button class="favorite-btn" aria-label="Favorite">
            <i class="fa-regular fa-heart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <div class="genre-tags">
    <span 
      *ngFor="let genre of genres" 
      class="genre-tag"
      [class.selected]="genre === selectedGenre"
      (click)="selectGenre(genre)">
      {{ genre }}
    </span>
  </div>

  <h2 class="section-label">Movies</h2>
  <!-- Genre movie cards -->
  <div class="genre-movies-container">
    <div class="genre-movie-card" *ngFor="let movie of moviesByGenre">
      <img
        [src]="posterMap[movie.contentId] || 'assets/default-movie.jpg'"
        [alt]="movie.name"
        class="movie-poster"
        (click)="goToMovieInfo(movie.contentId)"
      />
      <div class="genre-movie-info">
        <h3>{{ movie.name }}</h3>
      </div>
    </div>
  </div>
  
  <h2 class="section-label">Tv Series</h2>
  <!-- Genre tv series cards -->
  <div class="genre-series-container">
    <div class="genre-movie-card" *ngFor="let series of seriesByGenre">
      <img
        [src]="posterMap[series.contentId] || 'assets/default-movie.jpg'"
        [alt]="series.name"
        class="movie-poster"
        (click)="goToSeriesInfo(series.contentId)"
      />
      <div class="genre-movie-info">
        <h3>{{ series.name }}</h3>
      </div>
    </div>
  </div>

</div>