.movie-slider {
  padding: 72px 40px 20px;  
}

.movie-card {
  position: relative;  
  width: 85%;
  height: 540px;
  background: #111;
  color: #fff;
  border-radius: 16px;
  overflow: hidden;
  text-align: left;  
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  margin: auto;
}

.movie-card h3 {
  position: absolute;
  bottom: 20px;    
  z-index: 2;
  margin: 0;
  padding: 8px 40px 8px 20px;
  font-size: 2rem; 
  color: #fff; 
  background: linear-gradient(
    to right, 
    rgba(25, 25, 25, 0.7) 70%,    
    rgba(25, 25, 25, 0.4) 85%,    
    rgba(25, 25, 25, 0) 100%   
  );
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;   
}

.favorite-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: rgba(0,0,0,0.6);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; 
  z-index: 3;
}


.movie-card:hover {
  transform: scale(1.03);
}

/* Custom navigation arrows */
.swiper-button-prev,
.swiper-button-next {
  background: none !important;
  width: 60px;
  height: 60px;
  top: calc(100px + 240px);
  transform: translateY(-50%);
  position: absolute;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;  
}
 
.swiper-button-prev {
  left: calc(50% - 35% - 200px);
}

.swiper-button-next {
  right: calc(50% - 35% - 200px);
}
 

/* Common styles for all lines */
.swiper-button-prev::before,
.swiper-button-prev::after,
.swiper-button-next::before,
.swiper-button-next::after {
  content: '';
  position: absolute;
  width: 16px;        
  height: 48px;  
  background: linear-gradient(45deg, #e64747, #A847C8);
  border-radius: 8px;
  transition: transform 0.3s ease;
  top: 11px;
}

.swiper-button-prev::before {
  left: 32px;
  transform: rotate(-135deg);
}

.swiper-button-prev::after {
  left: 32px;
  top: 34px;
  transform: rotate(-45deg);
}
 
.swiper-button-next::before {
  right: 32px;
  transform: rotate(135deg);
}

.swiper-button-next::after {
  right: 32px; 
  top: 34px;
  transform: rotate(45deg);
}
 
.swiper-button-prev:hover::before {
  transform: rotate(-135deg) scale(1.05);
}
.swiper-button-prev:hover::after {
  transform: rotate(-45deg)  scale(1.05);
}
.swiper-button-next:hover::before {
  transform: rotate(135deg) scale(1.05);
}
.swiper-button-next:hover::after {
  transform: rotate(45deg) scale(1.05);
}

.genre-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  margin-top: 20px;
}

.genre-tag {
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 25px;
  padding: 14px 16px;
  color: #141116;
  font-weight: 590; 
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.genre-tag:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.genre-tag.selected {
  background: linear-gradient(
    135deg,
    rgba(230, 71, 71, 1),
    rgba(168, 71, 200, 1)
  );
  font-weight: 590; 
  transform: scale(1.08);
  color: #fff; 
}

.genre-movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px; 
}

.genre-series-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px; 
}

.genre-movie-card {
  background: linear-gradient(45deg, #e64747, #A847C8);
  border-radius: 12px;
  overflow: hidden;
  width: 180px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.genre-movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}

.genre-movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;      
  padding: 8px;
  color: #fff;
  text-align: center;
}

.genre-movie-info h3 {
  margin: 0;
  font-size: 1rem;
  align-items: center;
} 

.movie-poster {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-bottom: 2px solid #F0EEF5;
}

.section-label {
  display: block;    
  text-align: left;
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 60px;
  color: #141116;
  letter-spacing: 1px;
  text-transform: uppercase;  
  margin-top: 40px;
}

.section-label::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: #A847C8;
  margin: 0.3rem 0px;
  border-radius: 2px;
  margin-bottom: -15px;
}