.page-container {
  position: fixed;     
  top: 0;
  right: 0;               
  height: 100vh;         
  width: 39.6%;            
  background-color: #24182B;  
  display: flex;
  justify-content: center; 
  align-items: center;      
  padding: 2rem;
  box-sizing: border-box;
}

.form-wrapper {
  width: 100%;         
  max-width: 600px;    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
} 

h2 { font-family: 'Roboto Slab', serif;
  font-weight: 900; 
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
  
  /* gradient text */
  background: linear-gradient(90deg, #e64747, #A847C8); /* red to purple */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;    
    transition: width 0.3s ease-in-out;
}

.input-grid { 
    margin-top: 0rem; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem 0rem;
    width: 100%;
    justify-items: center;
  }
  

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #bbb;
    border-radius: 18px;
    font-size: 1rem;
    box-sizing: border-box;
}

.input-group {
    width: 80%; 
}

small {
    width: 80%;
    text-align: left;
    color: #d9534f;
    font-size: 0.85rem;
    margin-top: -0.5rem;
    display: block;
    margin-bottom: 1rem;
}

button {
    display: block;
    width: 23%;  
    padding: 0.75rem;
    background: linear-gradient(135deg, #e64747, #A847C8);
    border: none;
    border-radius: 35px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
}

button:disabled {
    background-color: #f9867c;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #c43a2d;
}